mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

.example-form-field {
  width: 200px;
}
/*
mat-sidenav-container {
    height: calc(100vh - 65px);
}
*/
p {
  font-size: 2rem;
}

$ball-size: 2em;
$ball-font: 32px;
$ball-padding: 0.5rem;
$ball-margin: 0.5rem;
$ball-border: 2px;
.numberCircle {
  display: inline-block;
  width: $ball-size;
  line-height: $ball-size;
  border-radius: 50%;
  text-align: center;
  font-size: $ball-font;
  border: $ball-border solid #666;
  margin-right: $ball-margin;
  margin-bottom:$ball-margin;
  padding:$ball-padding;
}

.drawed {
  background-color: cornflowerblue;
}

.drawed_power_ball {
  background-color: gold;
}

@keyframes blinker {
  from {
    background-color: grey;
  }
  to {
    background-color: white;
  }
}

.blink {
  animation-name: blinker;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

.parent_ball {
  font-size: $ball-font;
  max-width: calc(($ball-size + 2 * ($ball-padding + $ball-border) + $ball-margin)* 10);
  //max-width: calc(84px * 10);
}

